:root
{
  --col-width: 8.3333333333%;

}
body
{
  counter-reset:hola;
}
div
{
  margin: 0;
}
.container
{
  max-width: 900px;
  margin: 0 auto;
}
.container h1
{
  margin-top: 5%;
}
.row
{
  padding: 5% 70px;
  display: flex;
  align-items: center;
}
.row-image
{
  padding: 0 5%;
  max-width: 230px;
  width: 100%
}
.row figure img
{
  width: 100%;
}
[class^="col-"]
{
  margin: 0;
}
.col-1 {
  width: calc( var(--col-width ) * 1);
}
.col-2 {
  width: calc(var(--col-width) * 2);
}
.col-3 {
  width: calc(var(--col-width )  * 3);
}
.col-4 {
  width: calc(var(--col-width ) * 4);
}
.col-5 {
  width: calc(var(--col-width ) * 5);
}
.col-6 {
  width: calc(var(--col-width ) * 6);
}
.col-7 {
  width: calc(var(--col-width ) * 7);
}
.col-8 {
  width: calc(var(--col-width ) * 8);
}
.col-9 {
  width: calc(var(--col-width )  * 9);
}
.col-10 {
  width: calc(var(--col-width ) * 10);
}
.col-11 {
  width: calc(var(--col-width ) * 11);
}
.col-12 {
  width: 100%;
}
@media screen and (max-width:780px)
{
  .row
  {
    flex-wrap: wrap;
  }
}
