@media screen and (max-width:780px)
{
  .main-section
  {
    padding: 4%;
  }
  .products
  {
    height: auto;
    margin: 0;
    display: inherit;
  }
  .product
  {
    max-width: none;
    margin-top: auto;
    margin-bottom: 5%;
  }
  .caracteristicsWrapper,
  .mentions
  {
    display: inherit;
  }
  .caracteristic,
  .mentionWrapper
  {
    margin-bottom: 5%;
    width: auto;
  }
  .caracteristic figure img
  {
    max-width: 50%;
  }
}
